In [1]:
import pandas as pd 
import matplotlib as plt 
import numpy as np

In [2]:
df=pd.read_csv(r"Customer-Churn-Records.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425

In [3]:
#dropping RowNumber CustomerID and surname as they have no impact on churn 
column_to_drop=['RowNumber','CustomerId','Surname']
df.drop(columns=column_to_drop,axis=1,inplace=True)

In [4]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425

In [5]:
df.dtypes

CreditScore             int64
Geography              object
Gender                 object
Age                     int64
Tenure                  int64
Balance               float64
NumOfProducts           int64
HasCrCard               int64
IsActiveMember          int64
EstimatedSalary       float64
Exited                  int64
Complain                int64
Satisfaction Score      int64
Card Type              object
Point Earned            int64
dtype: object

In [6]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [7]:
df.isnull().sum()

CreditScore           0
Geography             0
Gender                0
Age                   0
Tenure                0
Balance               0
NumOfProducts         0
HasCrCard             0
IsActiveMember        0
EstimatedSalary       0
Exited                0
Complain              0
Satisfaction Score    0
Card Type             0
Point Earned          0
dtype: int64

In [8]:
df['Card Type'].value_counts()

Card Type
DIAMOND     2507
GOLD        2502
SILVER      2496
PLATINUM    2495
Name: count, dtype: int64

In [9]:
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [10]:
df['Gender']=df['Gender'].map({'Female':0,'Male':1})

In [11]:
df.dtypes

CreditScore             int64
Geography              object
Gender                  int64
Age                     int64
Tenure                  int64
Balance               float64
NumOfProducts           int64
HasCrCard               int64
IsActiveMember          int64
EstimatedSalary       float64
Exited                  int64
Complain                int64
Satisfaction Score      int64
Card Type              object
Point Earned            int64
dtype: object

In [12]:
#one hot encoding using pandas get_dummies 
target_columns=['Geography','Card Type']
df1=pd.get_dummies(data=df,columns=target_columns,dtype=int)

In [13]:
df1.dtypes

CreditScore             int64
Gender                  int64
Age                     int64
Tenure                  int64
Balance               float64
NumOfProducts           int64
HasCrCard               int64
IsActiveMember          int64
EstimatedSalary       float64
Exited                  int64
Complain                int64
Satisfaction Score      int64
Point Earned            int64
Geography_France        int32
Geography_Germany       int32
Geography_Spain         int32
Card Type_DIAMOND       int32
Card Type_GOLD          int32
Card Type_PLATINUM      int32
Card Type_SILVER        int32
dtype: object

In [14]:
df1.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Point Earned,Geography_France,Geography_Germany,Geography_Spain,Card Type_DIAMOND,Card Type_GOLD,Card Type_PLATINUM,Card Type_SILVER
0,619,0,42,2,0.00,1,1,1,101348.88,1,1,2,464,1,0,0,1,0,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,1,3,456,0,0,1,1,0,0,0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1,3,377,1,0,0,1,0,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0,5,350,1,0,0,0,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,5,425,0,0,1,0,1,0,0

In [15]:
#Scaling numerical values in the range of 0 to 1
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
cols_to_scale=['Balance','EstimatedSalary','Point Earned']
df1[cols_to_scale]=scaler.fit_transform(df1[cols_to_scale])
df1.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Point Earned,Geography_France,Geography_Germany,Geography_Spain,Card Type_DIAMOND,Card Type_GOLD,Card Type_PLATINUM,Card Type_SILVER
0,619,0,42,2,0.000000,1,1,1,0.506735,1,1,2,0.391600,1,0,0,1,0,0,0
1,608,0,41,1,0.334031,1,0,1,0.562709,0,1,3,0.382520,0,0,1,1,0,0,0
2,502,0,42,8,0.636357,3,1,0,0.569654,1,1,3,0.292849,1,0,0,1,0,0,0
3,699,0,39,1,0.000000,2,0,0,0.469120,0,0,5,0.262202,1,0,0,0,1,0,0
4,850,0,43,2,0.500246,1,1,1,0.395400,0,0,5,0.347333,0,0,1,0,1,0,0

In [16]:
df1['Age']=scaler.fit_transform(df1[['Age']])
df1.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Point Earned,Geography_France,Geography_Germany,Geography_Spain,Card Type_DIAMOND,Card Type_GOLD,Card Type_PLATINUM,Card Type_SILVER
0,619,0,0.324324,2,0.000000,1,1,1,0.506735,1,1,2,0.391600,1,0,0,1,0,0,0
1,608,0,0.310811,1,0.334031,1,0,1,0.562709,0,1,3,0.382520,0,0,1,1,0,0,0
2,502,0,0.324324,8,0.636357,3,1,0,0.569654,1,1,3,0.292849,1,0,0,1,0,0,0
3,699,0,0.283784,1,0.000000,2,0,0,0.469120,0,0,5,0.262202,1,0,0,0,1,0,0
4,850,0,0.337838,2,0.500246,1,1,1,0.395400,0,0,5,0.347333,0,0,1,0,1,0,0

In [17]:
df.dtypes

CreditScore             int64
Geography              object
Gender                  int64
Age                     int64
Tenure                  int64
Balance               float64
NumOfProducts           int64
HasCrCard               int64
IsActiveMember          int64
EstimatedSalary       float64
Exited                  int64
Complain                int64
Satisfaction Score      int64
Card Type              object
Point Earned            int64
dtype: object

In [18]:
df1.dtypes

CreditScore             int64
Gender                  int64
Age                   float64
Tenure                  int64
Balance               float64
NumOfProducts           int64
HasCrCard               int64
IsActiveMember          int64
EstimatedSalary       float64
Exited                  int64
Complain                int64
Satisfaction Score      int64
Point Earned          float64
Geography_France        int32
Geography_Germany       int32
Geography_Spain         int32
Card Type_DIAMOND       int32
Card Type_GOLD          int32
Card Type_PLATINUM      int32
Card Type_SILVER        int32
dtype: object

In [19]:
X=df1.drop(columns='Exited',axis=1)
y=df1['Exited']

In [20]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Complain,Satisfaction Score,Point Earned,Geography_France,Geography_Germany,Geography_Spain,Card Type_DIAMOND,Card Type_GOLD,Card Type_PLATINUM,Card Type_SILVER
0,619,0,0.324324,2,0.000000,1,1,1,0.506735,1,2,0.391600,1,0,0,1,0,0,0
1,608,0,0.310811,1,0.334031,1,0,1,0.562709,1,3,0.382520,0,0,1,1,0,0,0
2,502,0,0.324324,8,0.636357,3,1,0,0.569654,1,3,0.292849,1,0,0,1,0,0,0
3,699,0,0.283784,1,0.000000,2,0,0,0.469120,0,5,0.262202,1,0,0,0,1,0,0
4,850,0,0.337838,2,0.500246,1,1,1,0.395400,0,5,0.347333,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,0.283784,5,0.000000,2,1,0,0.481341,0,1,0.205448,1,0,0,1,0,0,0
9996,516,1,0.229730,10,0.228657,1,1,1,0.508490,0,5,0.740068,1,0,0,0,0,1,0
9997,709,0,0.243243,7,0.000000,1,0,1,0.210390,1,3,0.505108,1,0,0,0,0,0,1
9998,772,1,0.324324,3,0.299226,2,1,0,0.464429,1,2,0.249716,0,1,0,0,1,0,0
9999,792,0,0.135135,4,0.518708,1,1,0,0.190914,0,3,0.898978,1,0,0,1,0,0,0

In [21]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [22]:
#infamous train test split 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=40)

In [23]:
X_train.shape

(8000, 19)

In [24]:
import tensorflow as tf

In [28]:
#using tensorflow keras building a neural network with 19 inputs, 2 hidden and 1 output layers
from tensorflow.keras import Sequential
from tensorflow import keras
model=Sequential([
    keras.layers.Dense(19,input_dim=19,activation='relu'),
    keras.layers.Dense(10,activation='relu'),
    keras.layers.Dense(5,activation='relu'),
    keras.layers.Dense(1,activation='sigmoid')
])
#compiling model
model.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)
model.fit(X_train,y_train,epochs=100)

Epoch 1/100
250/250 [==============================] - 2s 4ms/step - loss: 0.8693 - accuracy: 0.7679
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4984 - accuracy: 0.7933
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4805 - accuracy: 0.7933
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4536 - accuracy: 0.7933
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4157 - accuracy: 0.7933
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3430 - accuracy: 0.8110
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 0.2746 - accuracy: 0.8764
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2183 - accuracy: 0.9273
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1667 - accuracy: 0.9626
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1358 - accuracy: 0.9804
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1073 - accuracy: 0.9936
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0927 - accuracy: 0.9946
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0773 - accuracy: 0.9970
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0723 - accuracy: 0.9951
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 0.0584 - accuracy: 0.9980
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0519 - accuracy: 0.9974
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0456 - accuracy: 0.9983
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0412 - accuracy: 0.9981
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0358 - accuracy: 0.9985
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0331 - accuracy: 0.9986
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0298 - accuracy: 0.9985
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0273 - accuracy: 0.9985
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0249 - accuracy: 0.9986
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0450 - accuracy: 0.9908
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0210 - accuracy: 0.9986
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0205 - accuracy: 0.9986
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0192 - accuracy: 0.9985
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0190 - accuracy: 0.9985
Epoch 29/100
250/250 [==============================] - 1s 5ms/step - loss: 0.0177 - accuracy: 0.9985
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0178 - accuracy: 0.9985
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0156 - accuracy: 0.9985
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0161 - accuracy: 0.9986
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0161 - accuracy: 0.9984
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0160 - accuracy: 0.9984
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0172 - accuracy: 0.9986
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0147 - accuracy: 0.9986
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0148 - accuracy: 0.9985
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0159 - accuracy: 0.9983
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0150 - accuracy: 0.9983
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0129 - accuracy: 0.9986
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0142 - accuracy: 0.9984
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0115 - accuracy: 0.9986
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0131 - accuracy: 0.9985
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0124 - accuracy: 0.9983
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0125 - accuracy: 0.9986
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0120 - accuracy: 0.9985
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0129 - accuracy: 0.9984
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0270 - accuracy: 0.9927
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0114 - accuracy: 0.9986
Epoch 50/100
250/250 [==============================] - 1s 5ms/step - loss: 0.0115 - accuracy: 0.9986
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0113 - accuracy: 0.9986
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0107 - accuracy: 0.9986
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0115 - accuracy: 0.9984
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0112 - accuracy: 0.9984
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0116 - accuracy: 0.9986
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0109 - accuracy: 0.9986
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0118 - accuracy: 0.9985
Epoch 58/100
250/250 [==============================] - 1s 5ms/step - loss: 0.0121 - accuracy: 0.9984
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0116 - accuracy: 0.9985
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0530 - accuracy: 0.9880
Epoch 61/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0107 - accuracy: 0.9986
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0104 - accuracy: 0.9986
Epoch 63/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0108 - accuracy: 0.9986
Epoch 64/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0109 - accuracy: 0.9986
Epoch 65/100
250/250 [==============================] - 1s 5ms/step - loss: 0.0111 - accuracy: 0.9985
Epoch 66/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0107 - accuracy: 0.9986
Epoch 67/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0107 - accuracy: 0.9986
Epoch 68/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0109 - accuracy: 0.9986
Epoch 69/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0118 - accuracy: 0.9984
Epoch 70/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0118 - accuracy: 0.9986
Epoch 71/100
250/250 [==============================] - 1s 5ms/step - loss: 0.0112 - accuracy: 0.9986
Epoch 72/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0112 - accuracy: 0.9986
Epoch 73/100
250/250 [==============================] - 1s 5ms/step - loss: 0.0179 - accuracy: 0.9958
Epoch 74/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0111 - accuracy: 0.9986
Epoch 75/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0114 - accuracy: 0.9986
Epoch 76/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0099 - accuracy: 0.9986
Epoch 77/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0109 - accuracy: 0.9985
Epoch 78/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0125 - accuracy: 0.9984
Epoch 79/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0115 - accuracy: 0.9986
Epoch 80/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0109 - accuracy: 0.9986
Epoch 81/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0114 - accuracy: 0.9986
Epoch 82/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0112 - accuracy: 0.9986
Epoch 83/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0129 - accuracy: 0.9985
Epoch 84/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0178 - accuracy: 0.9959
Epoch 85/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0113 - accuracy: 0.9986
Epoch 86/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0106 - accuracy: 0.9986
Epoch 87/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0107 - accuracy: 0.9986
Epoch 88/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0119 - accuracy: 0.9986
Epoch 89/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0111 - accuracy: 0.9986
Epoch 90/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0118 - accuracy: 0.9985
Epoch 91/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0116 - accuracy: 0.9986
Epoch 92/100
250/250 [==============================] - 1s 5ms/step - loss: 0.0114 - accuracy: 0.9985
Epoch 93/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0118 - accuracy: 0.9985
Epoch 94/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0120 - accuracy: 0.9986
Epoch 95/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0119 - accuracy: 0.9986
Epoch 96/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0120 - accuracy: 0.9985
Epoch 97/100
250/250 [==============================] - 1s 5ms/step - loss: 0.0161 - accuracy: 0.9958
Epoch 98/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0200 - accuracy: 0.9959
Epoch 99/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0106 - accuracy: 0.9986
Epoch 100/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0115 - accuracy: 0.9985

In [33]:
y_preds=model.predict(X_test).reshape(-1)

63/63 [==============================] - 0s 3ms/step

In [30]:
model.evaluate(X_test,y_test)

63/63 [==============================] - 1s 4ms/step - loss: 0.0089 - accuracy: 0.9985

[0.008906315080821514, 0.9984999895095825]

In [35]:
from sklearn.metrics import confusion_matrix , classification_report
y_preds=np.round(y_preds)
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1616
           1       0.99      1.00      1.00       384

    accuracy                           1.00      2000
   macro avg       1.00      1.00      1.00      2000
weighted avg       1.00      1.00      1.00      2000